<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Ress</title>
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="/">Ress</a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog/create">New Ress</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Create Ress</h2>
        <form>
            <label for="title">Ress Title</label>
            <input type="text" name="title" id="title" required>
            <label for="snippet">Ress Snippet</label>
            <input type="text" name="snippet" id="snippet" required>
            <label for="body">Ress Body</label>
            <textarea name="body" id="body" required></textarea>
            <button type="submit">Create Ress</button>
        </form>
    </main>
</body>
</html>