<!DOCTYPE html>
<%- include ('./partials/head.ejs') %>

    <body>
        <header><%- include ('./partials/nav.ejs') %></header>
        <main>
            <article>
                <% if (ress.length !==0) { %>
                    <header>
                        <h2>
                            <%= ress.title %>
                        </h2>
                    </header>
                    <p>
                        <%= ress.content %>
                    </p>

                    <footer>
                        <a href="/blogs">See all ress</a>
                    </footer>
                    <% } else { %>
                        <h1>That ress does not exist</h1>
                     <% } %>
                    
            </article>
            
        </main>
    </body>
</html>