<!DOCTYPE html>
<%- include ('../partials/head.ejs') %>
<body>
    <header>
        <%- include('../partials/nav.ejs') %>
    </header>
    <main>
        <h2>Create Ress</h2>
        <form action="/blog/create" method="post">
            <label for="title">Ress Title</label>
            <input type="text" name="title" id="title" required>
            <label for="snippet">Ress Snippet</label>
            <input type="text" name="snippet" id="snippet" required>
            <label for="content">Ress Body</label>
            <textarea name="content" id="content" required></textarea>
            <button type="submit">Create Ress</button>
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>